#copy this into your DP Directors to overwrite the key-binds
#You can see the Keycodes here:
#http://www.kbdedit.com/manual/low_level_vk_list.html
#Key1:	(Unlimited Zoom)
0x61
#Key2:	(Camera Noclip)
0x62
#Key3:	(Unlimited Run)
0x63
#Key4:	(Walk in Water)
0x64
#Key5:	(Anti Slip)
0x65
#Key6: 	(Unimited Multijump)
0x66
#Key7: 	disabled, because of crashes, but you still have to have a key for this
#		if not, you can't overwrite the key for the next one
0x67
#Key8: 	(Allways land Viewmode)
0x68
